@model User

<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		<h1>Welcome @Model.FirstName @Model.LastName!</h1>
		@*@if (Model.IsPremiumMember)
		{
			<h2>There is a new special on our darker blends!</h2>
		}*@
	</div>
	<div class="col-4"></div>
</div>
